* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGJhY2tncm91bmR8ZW58MHx8MHxibHVlfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

table, tr, th, caption {
    border-radius: 5px;
    box-shadow: 1.9px 3.8px 3.8px hsl(0deg 0% 0% / 0.44);
}

caption {
    border-bottom: hidden;
    padding: 10px;
    font-size: 50px;
    color: #e3d0b1; 
    background-color: rgb(31, 39, 57);
}

table {
    margin: 2% auto;
}

th {
    padding: 4px;
    color: #e3d0b1;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
}

th:hover {
    background-color: #454A52;
    padding: 2%;
}

tr:nth-child(odd) {
    background-color: rgb(50, 60, 80);
}

tr:nth-child(even) {
    background-color: rgb(44, 52, 70);
}
